.campus-immersions {
  overflow: hidden;
  padding-top: 90px;
}
.campus-immersions .event-wrapper {
  width: -moz-fit-content;
  width: fit-content;
  max-width: 540px;
  margin: 0 auto;
  position: relative;
}
.campus-immersions .event-wrapper .star {
  position: absolute;
  bottom: 0;
  left: -50px;
}
.campus-immersions .event-wrapper .sticker {
  position: absolute;
  right: -40px;
  top: -90px;
}
.campus-immersions .event-wrapper .golden-day-mobile {
  display: none;
}
.campus-immersions .event-wrapper .arrow {
  position: absolute;
  bottom: -36px;
  right: -80px;
}
.campus-immersions .event-wrapper .event-text {
  font-size: 24px;
}
.campus-immersions .event-wrapper .section-title {
  line-height: 1.2;
}
.campus-immersions .campus-swiper,
.campus-immersions .category-swiper {
  position: relative;
  width: 100%;
  margin-inline: auto;
  --body-color: #fff;
  padding-top: 111px;
  overflow: hidden;
}
.campus-immersions .campus-swiper .swiper-wrapper,
.campus-immersions .category-swiper .swiper-wrapper {
  display: flex;
  align-items: flex-end;
}
.campus-immersions .campus-swiper .swiper-wrapper .swiper-slide,
.campus-immersions .category-swiper .swiper-wrapper .swiper-slide {
  position: relative;
  z-index: 1;
  width: 322px;
  height: 434px;
}
.campus-immersions .campus-swiper .swiper-wrapper .swiper-slide img,
.campus-immersions .category-swiper .swiper-wrapper .swiper-slide img {
  border-radius: 16px;
}
.campus-immersions .campus-swiper .swiper-wrapper .swiper-slide .video-slide,
.campus-immersions .category-swiper .swiper-wrapper .swiper-slide .video-slide {
  position: relative;
  display: block;
  -webkit-transform: translateZ(0);
}
.campus-immersions .campus-swiper .swiper-wrapper .swiper-slide .video-slide img,
.campus-immersions .category-swiper .swiper-wrapper .swiper-slide .video-slide img {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
}
.campus-immersions .campus-swiper .swiper-wrapper .swiper-slide .video-slide .play-ic,
.campus-immersions .category-swiper .swiper-wrapper .swiper-slide .video-slide .play-ic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  pointer-events: none;
}
.campus-immersions .campus-swiper .swiper-wrapper .swiper-slide .video-slide .play-ic img,
.campus-immersions .category-swiper .swiper-wrapper .swiper-slide .video-slide .play-ic img {
  width: 40px;
  height: auto;
  border-radius: 0;
  -o-object-fit: unset;
     object-fit: unset;
  display: block;
}
.campus-immersions .view-all-link-block {
  margin-top: 40px;
  text-align: center;
}
.campus-immersions .view-all-link-block .view-all-link {
  display: flex;
  justify-content: center;
  gap: 4px;
  color: #151419;
  font-size: 18px;
  line-height: 1.4;
  font-family: "HelveticaNowDisplay";
  font-weight: 500;
}
.campus-immersions .view-all-link-block .view-all-link .right-arrow-img {
  width: 13px;
  height: 11px;
  margin: auto 0;
}
.campus-immersions .category-swiper {
  display: none;
}
.campus-immersions .other-page-block .select2-container {
  width: 230px !important;
  margin-top: 0px;
}
.campus-immersions .other-page-block .select2-container .select2-selection {
  border-radius: 20px !important;
}
.campus-immersions .other-page-block .select2-container--default .select2-selection--single {
  background-color: #F6E6C5;
}
.campus-immersions .other-page-block .select2-container--default .select2-selection--single .select2-selection__rendered {
  margin: auto;
  font-size: 20px;
  font-weight: bold;
  color: #151419;
}
.campus-immersions .other-page-block .select2-container--default .select2-selection--single .select2-selection__arrow {
  display: none;
}
.campus-immersions .other-page-block .select2-container--default .select2-results > .select2-results__options {
  max-height: unset;
}
.campus-immersions .other-page-block .select2-results__options .select2-results__option {
  font-size: 20px;
  margin: 0px !important;
}
.campus-immersions .other-page-block .select2-results__options .select2-results__option div {
  color: #151419;
}
.campus-immersions .other-page-block .select2-results__options .select2-results__option--selected {
  display: none;
}
.campus-immersions .other-page-block .select2-selection__rendered::after {
  content: url('../images/icons/dropdown-icon.svg');
  height: 20px;
  width: 20px;
  position: absolute;
  margin-left: 8px;
}
.campus-immersions .other-page-block .select2-container--open .select2-selection {
  border-radius: 20px 20px 0px 0px !important;
}
.campus-immersions .other-page-block .select2-container--open .select2-search--dropdown {
  display: none;
}
.campus-immersions .other-page-block .select2-container--open .select2-selection__rendered::after {
  transform: rotate(180deg);
  top: 20px;
}

.sldr-opt-label {
  padding: 2px 4px;
  border-radius: 8px;
  margin-left: 4px;
}

body.page-template-institution .campus-immersions.smu .other-page-block .select2-selection__rendered::after {
  content: none;
}

@media (max-width: 1599.98px) {
  .campus-immersions {
    padding-top: 70px;
  }
  .campus-immersions .event-wrapper {
    width: -moz-fit-content;
    width: fit-content;
    max-width: 384px;
    margin: 0 auto;
    position: relative;
  }
  .campus-immersions .event-wrapper .star {
    position: absolute;
    bottom: 0;
    left: -20px;
    max-width: 20px;
  }
  .campus-immersions .event-wrapper .sticker {
    position: absolute;
    right: -42px;
    top: -64px;
    max-width: 84px;
  }
  .campus-immersions .event-wrapper .arrow {
    position: absolute;
    bottom: -12px;
    right: -50px;
    max-width: 56px;
  }
  .campus-immersions .event-wrapper .event-text {
    font-size: 18px;
  }
  .campus-immersions .event-wrapper .section-title {
    line-height: 1.4;
  }
  .campus-immersions .campus-swiper,
  .campus-immersions .category-swiper {
    padding-top: 65px;
  }
  .campus-immersions .campus-swiper .swiper-wrapper .swiper-slide,
  .campus-immersions .category-swiper .swiper-wrapper .swiper-slide {
    width: 230px;
    height: 308px;
  }
  .campus-immersions .campus-swiper .swiper-wrapper .swiper-slide img,
  .campus-immersions .category-swiper .swiper-wrapper .swiper-slide img {
    border-radius: 12px;
  }
  .campus-immersions .campus-swiper .swiper-wrapper .swiper-slide-active,
  .campus-immersions .category-swiper .swiper-wrapper .swiper-slide-active {
    min-width: min(230px, 17vw);
  }
  .campus-immersions .view-all-link-block {
    margin-top: 28px;
  }
  .campus-immersions .view-all-link-block .view-all-link {
    font-size: 14px;
  }
  .campus-immersions .view-all-link-block .view-all-link .right-arrow-img {
    width: 11px;
    height: 9px;
  }
  .campus-immersions .other-page-block .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 16px;
  }
}
@media (max-width: 992px) {
  .campus-immersions {
    padding-top: 60px;
  }
  .campus-immersions .event-wrapper {
    max-width: 400px;
  }
  .campus-immersions .event-wrapper .star {
    position: absolute;
    bottom: -10px;
    left: 25;
    max-width: 24px;
  }
  .campus-immersions .event-wrapper .sticker {
    position: absolute;
    right: -18px;
    top: -65px;
    max-width: 70px;
  }
  .campus-immersions .event-wrapper .arrow {
    position: absolute;
    bottom: -35px;
    right: 0px;
    max-width: 65px;
  }
  .campus-immersions .event-wrapper .event-text {
    font-size: 20px;
  }
  .campus-immersions .campus-swiper,
  .campus-immersions .category-swiper {
    padding-top: 50px;
  }
  .campus-immersions .campus-swiper .swiper-wrapper .swiper-slide,
  .campus-immersions .category-swiper .swiper-wrapper .swiper-slide {
    width: 234px;
    height: 316px;
  }
  .campus-immersions .campus-swiper .swiper-wrapper .swiper-slide-active,
  .campus-immersions .category-swiper .swiper-wrapper .swiper-slide-active {
    width: 234px !important;
  }
  .campus-immersions .view-all-link-block {
    margin-top: 40px;
  }
  .campus-immersions .view-all-link-block .view-all-link {
    font-size: 18px;
  }
  .campus-immersions .view-all-link-block .view-all-link .right-arrow-img {
    width: 12px;
    height: 10px;
  }
  .campus-immersions .other-page-block .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 20px;
  }
}
@media (max-width: 575.98px) {
  .campus-immersions .event-wrapper {
    max-width: 400px;
  }
  .campus-immersions .event-wrapper .star {
    position: absolute;
    bottom: -25px;
    left: 20px;
    max-width: 24px;
  }
  .campus-immersions .event-wrapper .sticker {
    display: none;
  }
  .campus-immersions .event-wrapper .golden-day-mobile {
    display: block;
    position: absolute;
    right: 12px;
    top: -65px;
    max-width: 70px;
  }
  .campus-immersions .event-wrapper .arrow {
    position: absolute;
    bottom: -25%;
    right: 0px;
    max-width: 65px;
  }
  .campus-immersions .event-wrapper .event-text {
    font-size: 18px;
  }
  .campus-immersions .campus-swiper,
  .campus-immersions .category-swiper {
    padding-top: 40px;
  }
  .campus-immersions .campus-swiper .swiper-wrapper .swiper-slide,
  .campus-immersions .category-swiper .swiper-wrapper .swiper-slide {
    width: 234px;
    height: 316px;
  }
  .campus-immersions .campus-swiper .swiper-wrapper .swiper-slide-active,
  .campus-immersions .category-swiper .swiper-wrapper .swiper-slide-active {
    width: 234px !important;
  }
  .campus-immersions .view-all-link-block {
    margin-top: 26px;
  }
  .campus-immersions .view-all-link-block .view-all-link {
    font-size: 18px;
  }
  .campus-immersions .view-all-link-block .view-all-link .right-arrow-img {
    width: 12px;
    height: 10px;
  }
  .campus-immersions .other-page-block .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 18px;
  }
}
@media (max-width: 380px) {
  .campus-immersions .event-wrapper .arrow {
    position: absolute;
    right: 0;
    max-width: 55px;
  }
}/*# sourceMappingURL=campus-immersions.css.map */