.placement-assistance {
  position: relative;
  overflow: hidden;
  padding-bottom: 63px;
}
.placement-assistance .placement-slider .slick-list {
  overflow: visible;
}
.placement-assistance .placement-slider .slick-dots {
  display: block !important;
}
.placement-assistance .placement-slider .slick-dotted.slick-slider {
  margin-bottom: 10px;
}
.placement-assistance .placement-assistance-row {
  position: relative;
  z-index: 1;
}
.placement-assistance .placement-assistance-row .title-block {
  margin-bottom: 24px;
  display: flex;
}
.placement-assistance .placement-assistance-row .title-block .know-more-btn {
  position: absolute;
  right: 0;
  background-color: #fff;
  color: #000;
  padding: 20px 24px;
  gap: 8px;
  border-radius: 40px;
  align-items: center;
  border: 1px solid #575757;
  z-index: 10;
}
.placement-assistance .placement-assistance-row .title-block .know-more-btn:hover {
  border: 2px solid #575757;
  padding: 19px 23px;
}
.placement-assistance .placement-assistance-row .relative-container {
  position: relative;
}
.placement-assistance .placement-assistance-row .relative-container .sticky-container .know-more-btn {
  display: none;
}
.placement-assistance .placement-assistance-row .scroller-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.placement-assistance .placement-assistance-row .swiper {
  overflow: visible;
}
.placement-assistance .placement-assistance-row .swiper .swiper-wrapper {
  white-space: nowrap;
}
.placement-assistance .placement-assistance-row .swiper .swiper-wrapper .slick-track {
  display: flex;
  align-items: stretch;
}
.placement-assistance .placement-assistance-row .swiper .swiper-wrapper .flex-item {
  background: #F7F6F6;
  padding: 32px;
  border-radius: 12px;
  flex: 0 0 auto;
  transition: all 0.3s ease-in-out;
  margin-right: 24px;
  width: 30%;
  white-space: normal;
  height: inherit;
}
.placement-assistance .placement-assistance-row .swiper .swiper-wrapper .flex-item .feature-wrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.placement-assistance .placement-assistance-row .swiper .swiper-wrapper .flex-item .feature-wrap img {
  width: 64px;
}
.placement-assistance .placement-assistance-row .swiper .swiper-wrapper .flex-item .feature-wrap .feature-title {
  font-family: "Queens";
  font-size: 32px;
  color: #151419;
}
.placement-assistance .placement-assistance-row .swiper .swiper-wrapper .flex-item .feature-wrap .feature-description {
  font-size: 24px;
  transition: all 0.3s ease-in-out;
  color: #575757;
}
.placement-assistance .placement-assistance-row .swiper .scrollend {
  transform: translateX(-1500px);
}
.placement-assistance .slick-prev,
.placement-assistance .slick-next {
  top: unset;
  width: 48px;
  height: 48px;
  transform: none;
  bottom: -60px;
}
.placement-assistance .slick-prev {
  right: unset;
  left: calc(50% - 56px);
}
.placement-assistance .slick-arrow {
  margin-bottom: 0px;
  z-index: 1;
}
.placement-assistance .slick-next {
  right: calc(50% - 56px);
}

@media (min-width: 1920px) {
  .placement-assistance .placement-row .flex-container {
    flex-wrap: nowrap;
    gap: 48px;
  }
  .placement-assistance .placement-row .flex-container .flex-item {
    width: 22%;
  }
}
/* `xxl` applies to x-large devices (less than 1600px) */
@media (max-width: 1599.98px) {
  .placement-assistance .placement-row .flex-container .flex-item .description {
    font-size: 18px;
  }
  .placement-assistance .placement-assistance-row .title-block .know-more-btn {
    color: #151419;
    font-size: 14px;
    font-weight: 700;
    padding: 12px 32px;
    border-radius: 50px;
  }
  .placement-assistance .placement-assistance-row .title-block .know-more-btn:hover {
    padding: 11px 31px;
  }
  .placement-assistance .placement-assistance-row .swiper .swiper-wrapper .flex-item {
    border-radius: 8px;
  }
  .placement-assistance .placement-assistance-row .swiper .swiper-wrapper .flex-item .feature-wrap {
    gap: 18px;
  }
  .placement-assistance .placement-assistance-row .swiper .swiper-wrapper .flex-item .feature-wrap img {
    width: 46px;
  }
  .placement-assistance .placement-assistance-row .swiper .swiper-wrapper .flex-item .feature-wrap .feature-title {
    font-size: 24px;
  }
  .placement-assistance .placement-assistance-row .swiper .swiper-wrapper .flex-item .feature-wrap .feature-description {
    font-size: 16px;
  }
}
/* `xl` applies to large devices (desktops less than 1200px) */
@media (max-width: 1200px) {
  .placement-assistance .placement-row {
    background-position: right 0px;
  }
}
@media (max-width: 992px) {
  .placement-assistance {
    position: unset;
    padding: unset;
    overflow: hidden;
  }
  .placement-assistance .placement-row {
    margin-bottom: unset;
    background-size: unset;
    position: relative;
    z-index: 1;
  }
  .placement-assistance .placement-assistance-row {
    min-height: unset !important;
  }
  .placement-assistance .placement-assistance-row .title-block .section-title {
    position: unset;
  }
  .placement-assistance .placement-assistance-row .title-block .know-more-btn {
    display: block;
  }
  .placement-assistance .placement-assistance-row .relative-container {
    position: relative;
  }
  .placement-assistance .placement-assistance-row .relative-container .sticky-container .know-more-btn {
    display: none;
  }
  .placement-assistance .placement-assistance-row .scroller-container {
    position: unset;
  }
  .placement-assistance .placement-assistance-row .section-title {
    position: unset;
  }
  .placement-assistance .placement-assistance-row .swiper {
    overflow: visible;
  }
  .placement-assistance .placement-assistance-row .swiper .swiper-wrapper {
    min-height: unset;
    white-space: unset;
  }
  .placement-assistance .placement-assistance-row .swiper .swiper-wrapper .flex-item {
    background: unset;
    border: 0.76px solid #151419;
    padding: 24px;
    border-radius: 16px;
    white-space: unset;
  }
  .placement-assistance .placement-assistance-row .swiper .swiper-wrapper .flex-item .feature-wrap img {
    width: 60px;
  }
  .placement-assistance .placement-assistance-row .swiper .swiper-wrapper .flex-item .feature-wrap .feature-description {
    font-size: 20px;
  }
}
/* Additional CSS inside @media for 575px resolution */
@media (max-width: 575.98px) {
  .placement-assistance .placement-assistance-row .swiper .swiper-wrapper .flex-item .feature-description,
  .placement-assistance .placement-assistance-row .swiper .swiper-wrapper .flex-item .feature-wrap .feature-description,
  .placement-assistance .placement-assistance-row .swiper .swiper-wrapper .flex-item .feature-description {
    display: block !important;
    opacity: 1 !important;
  }
  .placement-assistance .placement-assistance-row .swiper .swiper-wrapper .flex-item .feature-wrap .feature-title {
    min-height: unset;
  }
  .placement-assistance-row .slick-track {
    display: flex;
    align-items: stretch;
  }
  .placement-assistance-row .slick-track .swiper-slide {
    max-height: unset !important;
    height: inherit !important;
  }
  .placement-assistance .placement-assistance-row .swiper .swiper-wrapper .flex-item {
    max-height: -moz-max-content;
    max-height: max-content;
  }
  .placement-assistance {
    position: unset;
    padding: unset;
    overflow: hidden;
  }
  .placement-assistance .placement-assistance-row .title-block .know-more-btn {
    display: none;
  }
  .placement-assistance .placement-assistance-row {
    min-height: unset !important;
  }
  .placement-assistance .placement-assistance-row .relative-container .sticky-container .know-btn {
    display: flex;
    /* Adjust button container for position */
    transition: all 0.3s ease-in-out;
  }
  .placement-assistance .placement-assistance-row .relative-container .sticky-container .know-btn .know-more-btn {
    display: block;
    background-color: #fff;
    color: #000;
    padding: 12px 32px;
    border-radius: 50px;
    text-align: center;
    border: 1px solid #575757;
    position: relative;
    z-index: 10;
    font-size: 14px;
    font-weight: bold;
    margin-top: 12px;
  }
  .placement-assistance .placement-assistance-row .relative-container .sticky-container .know-btn .know-more-btn:hover {
    border: 2px solid #575757;
    padding: 11px 31px;
  }
  .placement-assistance .placement-assistance-row .swiper .swiper-wrapper {
    min-height: unset;
  }
  .placement-assistance .placement-assistance-row .swiper .swiper-wrapper .flex-item {
    border-radius: 12px;
    background: #F7F6F6 !important;
    border: unset;
    transition: all 0.3s ease-in-out;
    /* Ensure smooth hover transition */
  }
  .placement-assistance .placement-assistance-row .swiper .swiper-wrapper .flex-item .feature-wrap {
    gap: 12px;
  }
  .placement-assistance .placement-assistance-row .swiper .swiper-wrapper .flex-item .feature-wrap img {
    width: 48px;
  }
  .placement-assistance .placement-assistance-row .swiper .swiper-wrapper .flex-item .feature-wrap .feature-title {
    font-size: 24px;
  }
  .placement-assistance .placement-assistance-row .swiper .swiper-wrapper .flex-item .feature-wrap .feature-description {
    font-size: 16px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .placement-assistance .placement-assistance-row .swiper .swiper-wrapper .flex-item .feature-wrap .feature-description {
    font-size: 16px;
  }
  .placement-assistance .placement-assistance-row .swiper .swiper-wrapper .flex-item .feature-wrap {
    gap: 12px;
  }
  .placement-assistance .placement-assistance-row .swiper .swiper-wrapper .flex-item {
    padding: 24px;
  }
  .placement-assistance .placement-assistance-row .swiper .swiper-wrapper .flex-item .feature-wrap .feature-title {
    min-height: unset;
    margin-bottom: 16px;
    line-height: 1.2;
    font-size: 20px;
  }
  .placement-assistance .placement-assistance-row .title-block .know-more-btn {
    font-size: 14px;
  }
}/*# sourceMappingURL=placement-assistance.css.map */